<?xml version="1.0" encoding="utf-8"?>
<!-- 
==> NuGet Packages Configuration
==> Lists all required packages and their versions
==> Use "Restore NuGet Packages" in Visual Studio to download
-->
<packages>
  <!-- ==> ASP.NET MVC -->
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net472" />
  
  <!-- ==> ASP.NET Web API -->
  <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.7" targetFramework="net472" />
  
  <!-- ==> SignalR (Real-time communication) -->
  <package id="Microsoft.AspNet.SignalR" version="2.4.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.4.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.4.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.4.3" targetFramework="net472" />
  
  <!-- ==> OWIN (for SignalR) -->
  <package id="Microsoft.Owin" version="4.2.2" targetFramework="net472" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.2.2" targetFramework="net472" />
  <package id="Microsoft.Owin.Security" version="4.2.2" targetFramework="net472" />
  <package id="Owin" version="1.0" targetFramework="net472" />
  
  <!-- ==> Entity Framework (Database ORM) -->
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  
  <!-- ==> JSON.NET (JSON serialization) -->
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  
  <!-- ==> jQuery (JavaScript library) -->
  <package id="jQuery" version="3.6.0" targetFramework="net472" />
  
  <!-- ==> Bootstrap (CSS framework) -->
  <package id="bootstrap" version="4.5.2" targetFramework="net472" />
  
  <!-- ==> Microsoft.Web.Infrastructure -->
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
</packages>
